html {
    height: 100%;
    background: url("../img/background.png");
}

body {
    height: 100%;
}

.game {
    position: relative;
    width: 520px;
    height: 100%;
    box-shadow: #ffffff33 0 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/background.png") cover;
}


.game .game-start {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    padding: 10px 50px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.game .game-start img {
    width: 360px;
}

.game .game-start button {
    outline: none;
    margin-top: 50px;
    height: 50px;
    width: 260px;
    line-height: 50px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: rgb(0,115,239);
    border-radius: 10px;
}

/*.game .game-start img{*/
/*    */
/*}*/

.game-head {
    top: 0;
    left: 0;
    padding-right: 150px;
    justify-content: space-around;

}

.game-head h3 {
    color: #f00;
}

.game-foot {
    left: 0;
    bottom: 0;
    justify-content: space-between;
}

.game-head, .game-foot {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #ffffff22;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.game-body {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background: #fff1;
}

.game-body .bee {
    position: absolute;
    top: -50px;
    left: 50%;
    height: 30px;
    width: 30px;
    background: url("../img/bee_blue.png") center / cover no-repeat;
    background-size: 30px 30px;
    transition: transform .2s;
}

.game-body .bee-blue {
    background-image: url("../img/bee_blue.png");
}

.game-body .bee-green {
    background-image: url("../img/bee_green.png");
}

.game-body .bee-red {
    background-image: url("../img/bee_red.png");
}

.game-body .bee-small {
    background-image: url("../img/bee_small.png");
}

.game-body .plane {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background: url("../img/plane.png") center / cover no-repeat;
}

.game-body .plane.god {
    animation: god .5s infinite;
}

@keyframes god {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.game-body .plane.destroy,
.game-body .bee.destroy{
    animation: destroy .5s ease;
}

@keyframes destroy {
    25% {
        background-image: url("../img/explosion_1.png");
    }

    50% {
        background-image: url("../img/explosion_2.png");
    }

    75% {
        background-image: url("../img/explosion_3.png");
    }

    100% {
        background-image: url("../img/explosion_4.png");
    }
}

.game-body .plane.attack::after {
    content: "";
    position: absolute;
    left: 50%;
    top: -30%;
    height: 10px;
    width: 3px;
    background-color: #fff;
    transform: translate(-50%);
    box-shadow: #ffffffe2 0 0 15px;
}

.game-body .bullet {
    position: absolute;
    height: 10px;
    width: 3px;
    background-color: #fff;
    box-shadow: #ffffffe2 0 0 15px;
}

.game-foot .life {
    display: flex;
}

.game-foot .life .life-item {
    height: 30px;
    width: 30px;
    margin: 0 7.5px;
}

.game-foot .life .life-item img {
    height: 30px;
    width: 30px;
    vertical-align: top;
}