<div class="music">
    <audio src="../assets/sound/background.mp3" id="bgm" loop autoplay></audio>
    <audio src="../assets/sound/destroyed.mp3" id="destroyed"></audio>
    <audio src="../assets/sound/shoot.mp3" id="shoot"></audio>
    <audio src="../assets/sound/hit.mp3" id="hit"></audio>
</div>
<div class="game">
    <div class="game-head">
        <div class="score">
            <h3>SCORE</h3>
            <span>00</span>
        </div>
        <div class="high-score">
            <h3>HIGH SCORE</h3>
            <span>00</span>
        </div>
    </div>
    <div class="game-body">
    </div>
    <div class="game-foot">
        <div class="life">
            <div class="life-item">
                <img src="../assets/img/plane.png" alt="">
            </div>
            <div class="life-item">
                <img src="../assets/img/plane.png" alt="">
            </div>
            <div class="life-item">
                <img src="../assets/img/plane.png" alt="">
            </div>
        </div>
    </div>
</div>